<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
    </button> -->
    <img
      src="../assets/images/logo/shelta-logo-dark-background.png"
      class="logo__header"
    />

    <span class="spacer"></span>

    <span>
      Lifeline 24/7 Helpline
      <a mat-stroked-button href="tel:0800 543 354">0800 543 354</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
