<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer [mode]="drawerMode" class="drawer-content">
    <p>Side Nav Drawer</p>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-wrapper">
      <app-header [drawer]="drawer"></app-header>
      <app-map></app-map>
      <div class="main-content-wrapper">
        <mat-card>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              similique exercitationem laborum quasi! Culpa dolorem laudantium
              laborum, dolore dolores, vero quod tenetur voluptates vitae velit
              ratione non molestiae, tempore eius.
            </p>
          </mat-card-content>
        </mat-card>
        <router-outlet></router-outlet>
      </div>

      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
