# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2.4.0
      # Runs a single command using the runners shell
      - name: Restore dependencies
        run: npm ci

      # Runs a set of commands using the runners shell
      - name: Audit
        run: npm audit --prod --audit-level=high
        
      - name: Build
        run: ng build
      - name: Test
        run: ng test
      - name: end to end tests
        run: ng e2e
