<div class="crisis-wrapper">
  <h3 class="crisis-title">Suicide Crisis Helpline</h3>
  <div>
    <a
      class="action"
      mat-stroked-button
      color="warn"
      target="_blank"
      href="https://www.lifeline.org.nz"
    >
      <span>
        lifeline.org.nz
      </span>
      <mat-icon inline>open_in_new</mat-icon>
    </a>
    ​
  </div>

  <div>
    <p>
      <small>0508 TAUTOKO/0508 828 865​​</small>
    </p>
    <p>
      <small>Suicide Helpline - available 24/7</small>
    </p>
  </div>
</div>
