.crisis-wrapper {
  position: absolute;
  bottom: 0;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 180px;
}
.crisis-title {
  color: #333;
  font-weight: bold;
}

.action {
  margin-bottom: 1rem;
}
